@import 
  "functions",
  "variables";

.dashboard {
  .header {
    background-color: $primary;
    color: #ffffff;
  }
  .content {
    flex: 1;
    background-color: #fbeedf;
  }
  .footer {
    background-color: #84abd4;
    font-size: 0.85rem;
    font-weight: 500;
  }
}
