@import 
  "functions",
  "variables",
  "mixins",
  "print",
  "reboot",
  "type",
  "grid",
  "buttons",
  "forms",
  "utilities";

@import "./app-variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.form-input-error {
  padding-left: 0.25rem;
  font-size: 14px;
  color: red;
}

.btn {
  padding: 0.25rem 1.5rem;
}

.form-input-label {
  font-weight: 500;
}
